@import "../../less/base/fn";

@lineColor: #E5E5E5;
@grayColor: #999999;

.hui-media-box {
  padding: 15px;
  position: relative;
  &:before {
    .setTopLine(@lineColor);
    left: 15px;
  }
  &:first-child {
    &:before {
      display: none
    }
  }

  a& {
    color: #000000;
    .setTapColor;
    &:active {
      background-color: #ECECEC;
    }
  }

  &.hui-media-appmsg {
    display: flex;
    align-items: center;
    .hui-media-hd {
      margin-right: .8em;

      &.hui-media-sm {
        width: 70px !important;
        height: 70px !important;
        line-height: 70px !important;
      }

      &.hui-media-md {
        width: 80px !important;
        height: 80px !important;
        line-height: 80px !important;
      }

      &.hui-media-lg {
        width: 120px !important;
        height: 90px !important;
        line-height: 90px !important;
      }
    }
    .hui-media-appmsg-thumb {
      width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
    .hui-media-bd {
      flex: 1;
      min-width: 0;
    }
  }
  &.hui-media-small-appmsg {
    padding: 0;
    .hui-cells {
      margin-top: 0;
      &:before {
        display: none;
      }
    }
    .hui-cells-access {
    }
  }
}

.hui-media-title {
  font-weight: 400;
  font-size: 17px;
  .ellipsis();
  word-wrap: break-word;
  word-break: break-all;
}
.hui-media-desc {
  color: @grayColor;
  font-size: 13px;
  line-height: 1.2;
  .ellipsisLn(3);
}
.hui-media-info {
  font-size: 13px;
  color: #CECECE;
  line-height: 1em;
  list-style: none;
  overflow: hidden;
}
